<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LMRItemTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="LMRItemTracker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LMRItemTracker.Properties.Settings>
            <setting name="Panel1Contents" serializeAs="String">
                <value>Hermes' Boots,Grapple Claw,Feather,Hand Scanner,reader.exe,Holy Grail,mirai.exe</value>
            </setting>
            <setting name="Panel3Contents" serializeAs="String">
                <value>Origin Seal,Birth Seal,Life Seal,Death Seal,Book of the Dead,Ring,Fairy Clothes,Mobile Super X2,Scriptures,Crucifix,Perfume,Glove,Bracelet,Spaulder</value>
            </setting>
            <setting name="Panel4Contents" serializeAs="String">
                <value>Whip,Knife,Axe,Katana,Shield,Gauntlet,Pistol,Shuriken,Rolling Shuriken,Caltrops,Flare Gun,Chakram,Earth Spear,Bomb</value>
            </setting>
            <setting name="Panel5Contents" serializeAs="String">
                <value>Philosopher's Ocarina,Mantra/Djed Pillar,Vessel/Medicine,Key Sword,Lamp of Time,Maps,Ankh Jewels</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>70, 70, 200</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>356</value>
            </setting>
            <setting name="FormHeight" serializeAs="String">
                <value>822</value>
            </setting>
            <setting name="ShowLastItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundMode" serializeAs="String">
                <value>shaded</value>
            </setting>
            <setting name="ShowAmmoCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Panel6Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowDeathCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeathCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ItemColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SpaulderCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Panel2Contents" serializeAs="String">
                <value>Bronze Mirror,Fruit of Eden,Twin Statue,Key of Eternity,Helmet,Plane Model,Crystal Skull,Dimensional Key,Pochette Key,Ice Cape,Scalesphere,Cog of the Soul,Dragon Bone,Serpent Staff,Mulana Talisman,Woman Statue,Pepper,Talisman,Diary,Mini Doll,Treasures,Anchor,Key Fairy Combo,Isis' Pendant,Eye of Truth,Magatama Jewel,torude.exe,Shrine Wall Removal</value>
            </setting>
            <setting name="CurseLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCurseLevel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </LMRItemTracker.Properties.Settings>
        <LMRItemTracker.Settings1>
            <setting name="panel1Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="panel2Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="panel3Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="panel4Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="panel5Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="textColor" serializeAs="String">
                <value />
            </setting>
        </LMRItemTracker.Settings1>
    </userSettings>
</configuration>